/* App.css */
.header-navbar {
  width: 100%;
  padding: 15px 20px;
  background-color: #394b59; /* Dark background color */
  color: white; /* White text color */
}

.header-navbar .bp3-navbar-heading {
  color: white; /* White text color */
  font-size: 1.5em; /* Larger font size for the heading */
}

.header-navbar .bp3-button {
  color: white; /* White text color for buttons */
}
